.container {
  max-width: 800px;
  margin: 100px auto 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 50px;
  color: black;
}

.todos {
  width: 97%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
}

.todo {
  width: 84%;
  list-style: none;
  font-size: 20px;
  color: black;
  border-radius: 10px;
}

.done {
  text-decoration: line-through;
}

