.wrapper_listitem {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 50vh;
}

.wrapper_listitem_btn {
  display: flex;
  justify-content: space-between;
}

.list_item {
  margin: 0;
  padding: 0;
}


